<section class="dark:bg-gray-900">
	<div
		class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16"
	>
		<div class="flex flex-col justify-center order-2 md:order-1">
			<h1
				class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
			>
				We invest in the world’s potential
			</h1>
			<p
				class="mb-6 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
			>
				The goal of
				<span
					class="self-center font-semibold whitespace-nowrap text-white bg-blue-600 p-1 rounded-lg"
					>SOUQ</span
				>
				is to provide you with a seamless and enjoyable online shopping
				experience. You can easily discover, explore, and purchase
				products or services, all in one place. Our top priorities are
				convenience, security, and personalization, ensuring that every
				transaction is smooth and tailored to your needs. Ultimately, we
				strive to build an e-commerce platform that not only meets your
				expectations but becomes a destination you love and trust.
			</p>
		</div>
		<div class="order-1">
			<div
				class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow-xl dark:bg-gray-800"
			>
				<h2 class="text-2xl font-bold text-gray-900 dark:text-white">
					Sign in
				</h2>
				<form
					class="mt-8 space-y-8"
					(ngSubmit)="loginUser()"
					[formGroup]="loginForm"
				>
					<div>
						<p-inputGroup
							class="rounded border-2"
							[ngClass]="{
								'text-red-700  border-red-600 focus:border-red-600':
									(loginForm.get('email')?.errors &&
										loginForm.get('email')?.touched) ||
									(loginForm.get('email')?.errors &&
										loginForm.get('email')?.dirty),
								'border-gray-300  focus:border-blue-600': !(
									(loginForm.get('email')?.errors &&
										loginForm.get('email')?.touched) ||
									(loginForm.get('email')?.errors &&
										loginForm.get('email')?.dirty)
								)
							}"
						>
							<p-inputGroupAddon>
								<i class="pi pi-at"></i>
							</p-inputGroupAddon>
							<input
								formControlName="email"
								pInputText
								autocomplete
								placeholder="Your email"
								class="w-full text-lg outline-none text-inherit border-inherit"
							/>
						</p-inputGroup>

						@if ((loginForm.get('email')?.errors&&
						loginForm.get('email')?.touched)||(loginForm.get('email')?.errors&&
						loginForm.get('email')?.dirty)) {
						<p
							id="outlined_error_help"
							class="mt-2 text-xs text-red-600 dark:text-red-400"
						>
							@if (loginForm.get('email')?.getError('required'))
							{<span class="font-medium"
								>Your Email is required</span
							>} @if (loginForm.get('email')?.getError('email'))
							{<span class="font-medium"
								>Your Email Must be like mail&#64;mail.com</span
							>}
						</p>
						}
					</div>

					<div>
						<div
							class="rounded border-2 relative"
							[ngClass]="{
								'text-red-700  border-red-600 focus:border-red-600':
									(loginForm.get('password')?.errors &&
										loginForm.get('password')?.touched) ||
									(loginForm.get('password')?.errors &&
										loginForm.get('password')?.dirty),
								'border-gray-300  focus:border-blue-600': !(
									(loginForm.get('password')?.errors &&
										loginForm.get('password')?.touched) ||
									(loginForm.get('password')?.errors &&
										loginForm.get('password')?.dirty)
								)
							}"
						>
							<div
								class="absolute flex justify-center items-center top-0 bottom-0 left-0 right-[89%] rounded-s bg-gray-100 z-20 border-y-1 border-s-1 border-gray-300"
							>
								<span
									class="pi pi-key block text-gray-500 focus:border-transparent"
								></span>
							</div>
							<p-password
								feedback="false"
								formControlName="password"
								autocomplete
								styleClass="w-full rounded border-0"
								inputStyleClass="text-medium focus:ring-0 outline-none text-inherit focus:bg-transparent  border-0 focus:border-0 ps-[3.2rem] w-full"
								[toggleMask]="true"
								id="floating_password"
								placeholder="Your Password"
							/>
						</div>
						@if ((loginForm.get('password')?.errors&&
						loginForm.get('password')?.touched)||(loginForm.get('password')?.errors&&
						loginForm.get('password')?.dirty)) {
						<p
							id="outlined_error_help"
							class="mt-2 text-xs text-red-600 dark:text-red-400"
						>
							@if
							(loginForm.get('password')?.getError('required'))
							{<span class="font-medium"
								>Your password is required</span
							>} @if
							(loginForm.get('password')?.getError('pattern'))
							{<span class="font-medium"
								>Your password Must be at least 6
								characters</span
							>}
						</p>
						}
					</div>

					<button
						[disabled]="loginForm.invalid"
						type="submit"
						class="w-full px-5 py-3 text-base disabled:bg-gray-500 disabled:cursor-not-allowed font-medium text-center text-white bg-blue-600 transition-all rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>
						@if (isLoading()) {<i
							class="fa-solid fa-spinner fa-spin fa-lg text-white me-2"
						></i>
						} Login
					</button>
					<div
						class="text-sm font-medium text-gray-900 dark:text-white"
					>
						Not registered yet?
						<a
							routerLink="/register"
							class="text-blue-600 hover:underline dark:text-blue-500"
							>Create account</a
						>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
