<section class="dark:bg-gray-900">
	<div
		class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16"
	>
		<div class="flex flex-col justify-center order-2 md:order-1">
			<h1
				class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
			>
				We invest in the world’s potential
			</h1>
			<p
				class="mb-6 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
			>
				The goal of
				<span
					class="self-center font-semibold whitespace-nowrap text-white bg-blue-600 p-1 rounded-lg"
					>SOUQ</span
				>
				is to provide you with a seamless and enjoyable online shopping
				experience. You can easily discover, explore, and purchase
				products or services, all in one place. Our top priorities are
				convenience, security, and personalization, ensuring that every
				transaction is smooth and tailored to your needs. Ultimately, we
				strive to build an e-commerce platform that not only meets your
				expectations but becomes a destination you love and trust.
			</p>
		</div>
		<div class="order-1">
			<div
				class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow-xl dark:bg-gray-800"
			>
				<h2 class="text-2xl font-bold text-gray-900 dark:text-white">
					Sign in
				</h2>
				<form class="mt-8 space-y-6">
					<div class="relative">
						<input
							type="email"
							id="floating_email"
							class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
							placeholder=" "
						/>
						<label
							for="floating_email"
							class="absolute text-md text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
							>Email</label
						>
					</div>

					<div class="relative">
						<input
							type="password"
							id="floating_password"
							class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
							placeholder=" "
						/>
						<label
							for="floating_password"
							class="absolute text-md text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
							>Password</label
						>
					</div>
					<div class="flex items-start">
						<div class="flex items-center h-5">
							<input
								id="remember"
								aria-describedby="remember"
								name="remember"
								type="checkbox"
								class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
								required
							/>
						</div>
						<div class="ms-3 text-sm">
							<label
								for="remember"
								class="font-medium text-gray-500 dark:text-gray-400"
								>Remember this device</label
							>
						</div>
						<a
							routerLink="/forget"
							class="ms-auto text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"
							>Forget Password?</a
						>
					</div>
					<button
						type="submit"
						class="w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-600 transition-all rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>
						Login
					</button>
					<div
						class="text-sm font-medium text-gray-900 dark:text-white"
					>
						Not registered yet?
						<a
							routerLink="/register"
							class="text-blue-600 hover:underline dark:text-blue-500"
							>Create account</a
						>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
