<section class="dark:bg-gray-900">
	<div
		class="flex flex-col items-center justify-center px-6 py-8 mx-auto my-16 lg:py-0"
	>
		<div
			class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-lg xl:p-0 dark:bg-gray-800 dark:border-gray-700"
		>
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<h1
					class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
				>
					Create an account
				</h1>
				<form
					class="space-y-4 md:space-y-6"
					[formGroup]="registerForm"
					(ngSubmit)="registerUser()"
				>
					<div>
						<p-inputGroup
							class="rounded border-2"
							[ngClass]="{
								'text-red-700  border-red-600 focus:border-red-600':
									(registerForm.get('name')?.errors &&
										registerForm.get('name')?.touched) ||
									(registerForm.get('name')?.errors &&
										registerForm.get('name')?.dirty),
								'border-gray-300  focus:border-blue-600': !(
									(registerForm.get('name')?.errors &&
										registerForm.get('name')?.touched) ||
									(registerForm.get('name')?.errors &&
										registerForm.get('name')?.dirty)
								)
							}"
						>
							<p-inputGroupAddon>
								<i class="pi pi-user"></i>
							</p-inputGroupAddon>
							<input
								formControlName="name"
								pInputText
								placeholder="Your name"
								class="w-full text-lg outline-none text-inherit border-inherit"
							/>
						</p-inputGroup>

						@if ((registerForm.get('name')?.errors&&
						registerForm.get('name')?.touched)||(registerForm.get('name')?.errors&&
						registerForm.get('name')?.dirty)) {
						<p
							id="outlined_error_help"
							class="mt-2 text-xs text-red-600 dark:text-red-400"
						>
							@if (registerForm.get('name')?.getError('required'))
							{<span class="font-medium"
								>Your Name is required</span
							>} @if
							(registerForm.get('name')?.getError('minlength'))
							{<span class="font-medium"
								>Your Name Must be at lest 3 characters</span
							>} @if
							(registerForm.get('name')?.getError('maxlength'))
							{<span class="font-medium"
								>Your Name Must be at most 20 characters</span
							>}
						</p>
						}
					</div>

					<div>
						<p-inputGroup
							class="rounded border-2"
							[ngClass]="{
								'text-red-700  border-red-600 focus:border-red-600':
									(registerForm.get('email')?.errors &&
										registerForm.get('email')?.touched) ||
									(registerForm.get('email')?.errors &&
										registerForm.get('email')?.dirty),
								'border-gray-300  focus:border-blue-600': !(
									(registerForm.get('email')?.errors &&
										registerForm.get('email')?.touched) ||
									(registerForm.get('email')?.errors &&
										registerForm.get('email')?.dirty)
								)
							}"
						>
							<p-inputGroupAddon>
								<i class="pi pi-at"></i>
							</p-inputGroupAddon>
							<input
								formControlName="email"
								pInputText
								placeholder="Your email"
								class="w-full text-lg outline-none text-inherit border-inherit"
							/>
						</p-inputGroup>

						@if ((registerForm.get('email')?.errors&&
						registerForm.get('email')?.touched)||(registerForm.get('email')?.errors&&
						registerForm.get('email')?.dirty)) {
						<p
							id="outlined_error_help"
							class="mt-2 text-xs text-red-600 dark:text-red-400"
						>
							@if
							(registerForm.get('email')?.getError('required'))
							{<span class="font-medium"
								>Your Email is required</span
							>} @if
							(registerForm.get('email')?.getError('email'))
							{<span class="font-medium"
								>Your Email Must be like mail&#64;mail.com</span
							>}
						</p>
						}
					</div>

					<div>
						<div
							class="w-full relative border-2 border-gray-300 rounded"
							[ngClass]="{
								'border-red-600 outline-transparent text-red-600 focus:border-red-600':
									(registerForm.get('password')?.errors &&
										registerForm.get('password')
											?.touched) ||
									(registerForm.get('password')?.errors &&
										registerForm.get('password')?.dirty),
								'border-gray-300 dark:border-gray-600 dark:focus:border-blue-500 focus:border-blue-600':
									!(
										(registerForm.get('password')?.errors &&
											registerForm.get('password')
												?.touched) ||
										(registerForm.get('password')?.errors &&
											registerForm.get('password')?.dirty)
									)
							}"
						>
							<div
								class="absolute flex justify-center items-center top-0 bottom-0 left-0 right-[89%] rounded-s bg-gray-100 z-20 border-y-1 border-s-1 border-gray-300"
							>
								<span
									class="pi pi-key block text-gray-500"
								></span>
							</div>
							<p-password
								[toggleMask]="true"
								id="floating_password"
								styleClass="w-full border-1 border-gray-300 rounded"
								inputStyleClass="text-medium ps-12 w-full focus:ring-0"
								formControlName="password"
								placeholder="Your Password"
							>
								<ng-template pTemplate="header">
									<h6>Pick a password</h6>
								</ng-template>
								<ng-template pTemplate="footer">
									<p-divider />
									@if ((registerForm.get('password')?.errors&&
									registerForm.get('password')?.touched)||(registerForm.get('password')?.errors&&
									registerForm.get('password')?.dirty)) {
									<p class="mt-2">Requirements</p>
									<ul class="pl-2 ml-2 mt-0 leading-6">
										@if
										(registerForm.get('password')?.getError('required'))
										{
										<li class="font-medium text-red-500">
											<strong>A Must: </strong>Your
											password is not Empty
										</li>
										} @if
										(registerForm.get('password')?.getError('pattern'))
										{
										<li class="font-medium text-red-500">
											<strong>A Must: </strong>Your
											password at least 6 characters
										</li>
										}
									</ul>
									}
									<p class="mt-2">Suggestions</p>
									<ul class="pl-2 ml-2 mt-0 leading-6">
										<li>At least one lowercase</li>
										<li>At least one uppercase</li>
										<li>At least one numeric</li>
									</ul>
								</ng-template>
							</p-password>
						</div>
					</div>

					<div>
						<div
							class="relative w-full border-2 border-gray-300 rounded"
							[ngClass]="{
								'border-red-600 border-1 text-red-600 focus:border-red-600':
									(registerForm.errors &&
										registerForm.get('rePassword')
											?.touched) ||
									(registerForm.errors &&
										registerForm.get('rePassword')?.dirty),
								'border-gray-300 text-gray-400 focus:border-blue-600':
									!(
										(registerForm.errors &&
											registerForm.get('rePassword')
												?.touched) ||
										(registerForm.errors &&
											registerForm.get('rePassword')
												?.dirty)
									)
							}"
						>
							<div
								class="absolute flex justify-center items-center top-0 bottom-0 left-0 right-[89%] rounded-s bg-gray-100 z-20 border-y-1 border-s-1 border-gray-300"
							>
								<span
									class="pi pi-key block text-gray-500 focus:border-transparent"
								></span>
							</div>
							<p-password
								feedback="false"
								formControlName="rePassword"
								autocomplete
								styleClass="w-full rounded"
								inputStyleClass="text-medium focus:ring-0 outline-none focus:bg-transparent focus:border-transparent text-inherit ps-12 w-full"
								[toggleMask]="true"
								id="floating_rePassword"
								placeholder="Confirm Password"
							/>
						</div>
						@if (registerForm.getError('mismatch') &&
						(registerForm.get('rePassword')?.touched
						||registerForm.get('rePassword')?.dirty) ) {
						<p
							id="outlined_error_help"
							class="mt-2 text-xs text-red-600 dark:text-red-400"
						>
							<span class="font-medium"
								>Password Does not match</span
							>
						</p>
						}
					</div>

					<div>
						<div
							class="relative w-full border-2 border-gray-300 rounded"
							[ngClass]="{
								'border-red-600 border-1 text-red-600 focus:border-red-600':
									(registerForm.get('phone')?.errors &&
										registerForm.get('phone')?.touched) ||
									(registerForm.get('phone')?.errors &&
										registerForm.get('phone')?.dirty),
								'border-gray-300 dark:border-gray-600 dark:focus:border-blue-500 focus:border-blue-600':
									!(
										(registerForm.get('phone')?.errors &&
											registerForm.get('phone')
												?.touched) ||
										(registerForm.get('phone')?.errors &&
											registerForm.get('phone')?.dirty)
									)
							}"
						>
							<div
								class="absolute flex justify-center items-center top-0 bottom-0 left-0 right-[89%] rounded-s bg-gray-100 z-20 border-y-1 border-s-1 border-gray-300"
							>
								<span
									class="pi pi-phone block text-gray-500"
								></span>
							</div>
							<p-inputMask
								mask="99999999999"
								showClear
								placeholder="010-14202765"
								formControlName="phone"
								id="floating_phone"
								styleClass="w-full ps-12 border-1 focus:ring-0 border-gray-300 rounded"
							/>
						</div>
						@if ((registerForm.get('phone')?.errors&&
						registerForm.get('phone')?.touched)||(registerForm.get('phone')?.errors&&
						registerForm.get('phone')?.dirty)) {
						<p
							id="outlined_error_help"
							class="mt-2 text-xs text-red-600 dark:text-red-400"
						>
							@if
							(registerForm.get('phone')?.getError('required'))
							{<span class="font-medium"
								>Your phone is required</span
							>} @if
							(registerForm.get('phone')?.getError('pattern'))
							{<span class="font-medium"
								>Your phone be Like 01014202765</span
							>}
						</p>
						}
					</div>

					<button
						type="submit"
						[disabled]="registerForm.invalid"
						class="transition-all duration-300 w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700 disabled:bg-gray-500 disabled:cursor-not-allowed rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>
						@if (isLoading()) {
						<i
							class="fa-solid fa-spinner fa-spin fa-lg text-white"
						></i>
						}Create an account
					</button>
					<p
						class="text-sm font-light text-gray-500 dark:text-gray-400"
					>
						Already have an account?
						<a
							routerLink="/login"
							class="font-medium text-blue-600 hover:underline dark:text-blue-500"
							>Login</a
						>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>
