<section class="dark:bg-gray-900">
	<div
		class="flex flex-col items-center justify-center px-6 py-8 mx-auto my-16 lg:py-0"
	>
		<div
			class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-lg xl:p-0 dark:bg-gray-800 dark:border-gray-700"
		>
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<h1
					class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
				>
					Create an account
				</h1>
				<form
					class="space-y-4 md:space-y-6"
					[formGroup]="registerForm"
					(ngSubmit)="registerUser()"
				>
					<div>
						<div class="relative">
							<input
								formControlName="name"
								type="text"
								id="floating_name"
								class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
								placeholder=" "
								[ngClass]="{
									'dark:border-red-500 border-red-600 dark:focus:border-red-500 focus:border-red-600':
										(registerForm.get('name')?.errors &&
											registerForm.get('name')
												?.touched) ||
										(registerForm.get('name')?.errors &&
											registerForm.get('name')?.dirty),
									'border-gray-300 dark:border-gray-600 dark:focus:border-blue-500 focus:border-blue-600':
										!(
											(registerForm.get('name')?.errors &&
												registerForm.get('name')
													?.touched) ||
											(registerForm.get('name')?.errors &&
												registerForm.get('name')?.dirty)
										)
								}"
							/>
							<label
								for="floating_name"
								[ngClass]="{
									'text-red-600 dark:text-red-800  peer-focus:text-red-600 peer-focus:dark:text-red-500':
										(registerForm.get('name')?.errors &&
											registerForm.get('name')
												?.touched) ||
										(registerForm.get('name')?.errors &&
											registerForm.get('name')?.dirty)
								}"
								class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
								>Your name</label
							>
						</div>
						@if ((registerForm.get('name')?.errors&&
						registerForm.get('name')?.touched)||(registerForm.get('name')?.errors&&
						registerForm.get('name')?.dirty)) {
						<p
							id="outlined_error_help"
							class="mt-2 text-xs text-red-600 dark:text-red-400"
						>
							@if (registerForm.get('name')?.getError('required'))
							{<span class="font-medium"
								>Your Name is required</span
							>} @if
							(registerForm.get('name')?.getError('minlength'))
							{<span class="font-medium"
								>Your Name Must be at lest 3 characters</span
							>} @if
							(registerForm.get('name')?.getError('maxlength'))
							{<span class="font-medium"
								>Your Name Must be at most 20 characters</span
							>}
						</p>
						}
					</div>
					<div>
						<div class="relative">
							<input
								formControlName="email"
								type="email"
								id="floating_email"
								class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
								placeholder=" "
								[ngClass]="{
									'dark:border-red-500 border-red-600 dark:focus:border-red-500 focus:border-red-600':
										(registerForm.get('email')?.errors &&
											registerForm.get('email')
												?.touched) ||
										(registerForm.get('email')?.errors &&
											registerForm.get('email')?.dirty),
									'border-gray-300 dark:border-gray-600 dark:focus:border-blue-500 focus:border-blue-600':
										!(
											(registerForm.get('email')
												?.errors &&
												registerForm.get('email')
													?.touched) ||
											(registerForm.get('email')
												?.errors &&
												registerForm.get('email')
													?.dirty)
										)
								}"
							/>
							<label
								for="floating_email"
								[ngClass]="{
									'text-red-600 dark:text-red-800  peer-focus:text-red-600 peer-focus:dark:text-red-500':
										(registerForm.get('email')?.errors &&
											registerForm.get('email')
												?.touched) ||
										(registerForm.get('email')?.errors &&
											registerForm.get('email')?.dirty)
								}"
								class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
								>Your email</label
							>
						</div>
						@if ((registerForm.get('email')?.errors&&
						registerForm.get('email')?.touched)||(registerForm.get('email')?.errors&&
						registerForm.get('email')?.dirty)) {
						<p
							id="outlined_error_help"
							class="mt-2 text-xs text-red-600 dark:text-red-400"
						>
							@if
							(registerForm.get('email')?.getError('required'))
							{<span class="font-medium"
								>Your Email is required</span
							>} @if
							(registerForm.get('email')?.getError('email'))
							{<span class="font-medium"
								>Your Email Must be like mail&#64;mail.com</span
							>}
						</p>
						}
					</div>
					<div>
						<div class="relative">
							<input
								formControlName="password"
								type="password"
								autocomplete
								id="floating_password"
								class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
								placeholder=" "
								[ngClass]="{
									'dark:border-red-500 border-red-600 dark:focus:border-red-500 focus:border-red-600':
										(registerForm.get('password')?.errors &&
											registerForm.get('password')
												?.touched) ||
										(registerForm.get('password')?.errors &&
											registerForm.get('password')
												?.dirty),
									'border-gray-300 dark:border-gray-600 dark:focus:border-blue-500 focus:border-blue-600':
										!(
											(registerForm.get('password')
												?.errors &&
												registerForm.get('password')
													?.touched) ||
											(registerForm.get('password')
												?.errors &&
												registerForm.get('password')
													?.dirty)
										)
								}"
							/>
							<label
								for="floating_password"
								[ngClass]="{
									'text-red-600 dark:text-red-800  peer-focus:text-red-600 peer-focus:dark:text-red-500':
										(registerForm.get('password')?.errors &&
											registerForm.get('password')
												?.touched) ||
										(registerForm.get('password')?.errors &&
											registerForm.get('password')?.dirty)
								}"
								class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
								>Your password</label
							>
						</div>
						@if ((registerForm.get('password')?.errors&&
						registerForm.get('password')?.touched)||(registerForm.get('password')?.errors&&
						registerForm.get('password')?.dirty)) {
						<p
							id="outlined_error_help"
							class="mt-2 text-xs text-red-600 dark:text-red-400"
						>
							@if
							(registerForm.get('password')?.getError('required'))
							{<span class="font-medium"
								>Your password is required</span
							>} @if
							(registerForm.get('password')?.getError('pattern'))
							{<span class="font-medium"
								>Your password Must at least 6 characters</span
							>}
						</p>
						}
					</div>
					<div>
						<div class="relative">
							<input
								formControlName="rePassword"
								autocomplete
								type="password"
								id="floating_rePassword"
								class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
								placeholder=" "
								[ngClass]="{
									'dark:border-red-500 border-red-600 dark:focus:border-red-500 focus:border-red-600':
										(registerForm.errors &&
											registerForm.get('rePassword')
												?.touched) ||
										(registerForm.errors &&
											registerForm.get('rePassword')
												?.dirty),
									'border-gray-300 dark:border-gray-600 dark:focus:border-blue-500 focus:border-blue-600':
										!(
											(registerForm.errors &&
												registerForm.get('rePassword')
													?.touched) ||
											(registerForm.errors &&
												registerForm.get('rePassword')
													?.dirty)
										)
								}"
							/>
							<label
								for="floating_rePassword"
								[ngClass]="{
									'text-red-600 dark:text-red-800  peer-focus:text-red-600 peer-focus:dark:text-red-500':
										(registerForm.errors &&
											registerForm.get('rePassword')
												?.touched) ||
										(registerForm.errors &&
											registerForm.get('rePassword')
												?.dirty)
								}"
								class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
								>Confirm password</label
							>
						</div>
						@if (registerForm.getError('mismatch') &&
						(registerForm.get('rePassword')?.touched
						||registerForm.get('rePassword')?.dirty) ) {
						<p
							id="outlined_error_help"
							class="mt-2 text-xs text-red-600 dark:text-red-400"
						>
							<span class="font-medium"
								>Password Does not match</span
							>
						</p>
						}
					</div>
					<div>
						<div class="relative">
							<input
								formControlName="phone"
								type="tel"
								id="floating_phone"
								class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
								placeholder=" "
								[ngClass]="{
									'dark:border-red-500 border-red-600 dark:focus:border-red-500 focus:border-red-600':
										(registerForm.get('phone')?.errors &&
											registerForm.get('phone')
												?.touched) ||
										(registerForm.get('phone')?.errors &&
											registerForm.get('phone')?.dirty),
									'border-gray-300 dark:border-gray-600 dark:focus:border-blue-500 focus:border-blue-600':
										!(
											(registerForm.get('phone')
												?.errors &&
												registerForm.get('phone')
													?.touched) ||
											(registerForm.get('phone')
												?.errors &&
												registerForm.get('phone')
													?.dirty)
										)
								}"
							/>
							<label
								for="floating_phone"
								[ngClass]="{
									'text-red-600 dark:text-red-800  peer-focus:text-red-600 peer-focus:dark:text-red-500':
										(registerForm.get('phone')?.errors &&
											registerForm.get('phone')
												?.touched) ||
										(registerForm.get('phone')?.errors &&
											registerForm.get('phone')?.dirty)
								}"
								class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
								>Your phone</label
							>
						</div>
						@if ((registerForm.get('phone')?.errors&&
						registerForm.get('phone')?.touched)||(registerForm.get('phone')?.errors&&
						registerForm.get('phone')?.dirty)) {
						<p
							id="outlined_error_help"
							class="mt-2 text-xs text-red-600 dark:text-red-400"
						>
							@if
							(registerForm.get('phone')?.getError('required'))
							{<span class="font-medium"
								>Your phone is required</span
							>} @if
							(registerForm.get('phone')?.getError('pattern'))
							{<span class="font-medium"
								>Your phone be Like 01014202765</span
							>}
						</p>
						}
					</div>
					<button
						type="submit"
						[disabled]="registerForm.invalid"
						class="transition-all duration-300 w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700 disabled:bg-gray-500 disabled:cursor-not-allowed rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>
						@if (isLoading()) {
						<i
							class="fa-solid fa-spinner fa-spin fa-lg text-white"
						></i>

						}@else { Create an account }
					</button>
					<p
						class="text-sm font-light text-gray-500 dark:text-gray-400"
					>
						Already have an account?
						<a
							routerLink="/login"
							class="font-medium text-blue-600 hover:underline dark:text-blue-500"
							>Login</a
						>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>
