.p-stepper {
	flex-basis: 50rem;
}


.custom-otp-input {
	@apply rounded-lg shadow-md border-2 border-gray-300;
	width: 80px;
	font-size: 36px;
	appearance: none;
	text-align: center;
	transition: all 0.2s;
	background: transparent;

	margin: 0 0.2rem;
}

.custom-otp-input:focus {
	@apply shadow-2xl;
	outline: 0 none;
	box-shadow: none;
	border-bottom-color: var(--primary-color);
}
