<section class="h-screen grid items-center">
	<div class="rounded p-10 h-1/2 w-1/2 relative -top-8 mx-auto bg-white">
		<div class="card flex justify-content-center">
			<p-stepper transitionOptions>
				<p-stepperPanel header="Your Email">
					<ng-template
						pTemplate="content"
						let-nextCallback="nextCallback"
						let-index="index"
					>
						<div class="flex flex-column h-12rem">
							<div
								class="flex-auto flex justify-content-center align-items-center font-medium"
							>
								<div
									class="size-full flex flex-col justify-between gap-8 items-center"
								>
									<div class="my-12 w-full">
										<p-iconField
											class="w-full"
											iconPosition="left"
										>
											<p-inputIcon
												styleClass="pi pi-at"
											/>
											<input
												class="border-2 shadow-md border-gray-300 w-full"
												type="email"
												[ngModel]="email()"
												(ngModelChange)="
													email.set($event)
												"
												pInputText
												placeholder="Your Email"
											/>
										</p-iconField>
									</div>
								</div>
							</div>
						</div>
						<div class="flex pt-4 justify-end">
							<p-button
								label="Next"
								styleClass="bg-blue-500 text-white p-2 me-auto"
								icon="pi pi-arrow-right"
								iconPos="right"
								(onClick)="nextCallback.emit()"
							/>
						</div>
					</ng-template>
				</p-stepperPanel>

				<p-stepperPanel header="Reset Code">
					<ng-template
						pTemplate="content"
						let-prevCallback="prevCallback"
						let-nextCallback="nextCallback"
						let-index="index"
					>
						<div
							class="flex flex-col h-[12rem] justify-center items-center"
						>
							<div
								class="surface-ground flex-auto flex justify-content-center align-items-center font-medium"
							>
								<div class="card flex justify-content-center">
									<p-inputOtp
										[integerOnly]="true"
										[length]="6"
										[ngModel]="code()"
										(ngModelChange)="code.set($event)"
									>
										<ng-template
											pTemplate="input"
											let-token
											let-events="events"
										>
											<input
												pInputText
												class="custom-otp-input"
												(input)="events.input($event)"
												(keydown)="
													events.keydown($event)
												"
												type="text"
												[attr.value]="token"
												[maxLength]="1"
											/>
										</ng-template>
									</p-inputOtp>
								</div>
							</div>
							{{ code() }}
						</div>
						<div class="flex pt-4 justify-end">
							<p-button
								label="Next"
								class="bg-blue-500 text-white p-2 rounded"
								icon="pi pi-arrow-right"
								iconPos="right"
								(onClick)="nextCallback.emit()"
							/>
						</div>
					</ng-template>
				</p-stepperPanel>

				<p-stepperPanel header="New Password">
					<ng-template
						pTemplate="content"
						let-prevCallback="prevCallback"
						let-index="index"
					>
						<div class="flex flex-column h-12rem">
							<div
								class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
							>
								Content III
							</div>
						</div>
						<div class="flex pt-4 justify-content-start">
							<p-button
								label="Back"
								icon="pi pi-arrow-left"
								(onClick)="prevCallback.emit()"
							/>
						</div>
					</ng-template>
				</p-stepperPanel>
			</p-stepper>
		</div>
	</div>
</section>
