<section class="p-3">
	<h2 class="text-center mb-4 text-3xl">Popular Suggested Catagories</h2>
	<div class="bg-white shadow border border-slate-200 rounded-lg">
		@if (isLoading()) {
		<swiper-container
			class="p-4"
			space-between="30"
			slides-per-view="3"
			freeMode="true"
			scrollbar-hide="false"
		>
			<div class="grid grid-cols-5 justify-center items-center"></div>
			@for (i of [1,2,3,4,5,6,7,8,9]; track $index) {
			<swiper-slide class="cursor-pointer">
				<div class="flex justify-center gap-2">
					<p-skeleton shape="circle" size="7rem" />
					<p-skeleton
						height="2rem"
						styleClass="mb-2 block"
						borderRadius="16px"
					/>
				</div>
			</swiper-slide>
			}
		</swiper-container>
		}@else {
		<swiper-container class="mySwiper py-3">
			@for (item of categorySlider(); track item._id) {
			<swiper-slide class="cursor-pointer">
				<div class="flex justify-center items-center flex-wrap">
					<div
						class="flex justify-center items-center rounded-full bg-gradient-to-r from-sky-500 to-indigo-500 p-1"
					>
						<img
							[src]="item.image"
							class="size-24 md:size-40 object-cover object-center rounded-full"
							[alt]="item.name"
						/>
					</div>
				</div>
				<p class="text-center w-full">{{ item.name }}</p>
			</swiper-slide>
			}
		</swiper-container>
		}
	</div>
</section>
<app-products></app-products>
