.active__tab {
  @apply text-blue-600 relative overflow-hidden;
  transition: all 0.5s;
}

.active__tab::before {
  @apply top-0 left-1/2 -translate-x-1/2 transition-all duration-500 bg-blue-600 absolute w-10 h-[.375rem] rounded-b;
  content: "";
  animation-name: tab;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
}

@keyframes tab {
  0% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}